.btn {
  width: 100%;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
  position: relative;
  z-index: 4;
  cursor: pointer;

  &:hover {
    p {
      transition: all 0.3s ease-out;
      transform: scale(1.1);
    }
  }
}

.circle {
  border-radius: 130px;
  border-width: 1px;
  background: linear-gradient(90deg, #7a2ff7, #8636df);
}

.primary {
  border-radius: var(--border-r-small);
  background: linear-gradient(90deg, #7a2ff7, #8636df);
  border: 1px solid;
  border-image-source: linear-gradient(123.36deg, #866AC8 -10.8%, rgba(66, 52, 98, 0) 78.43%);
}

.secondary {
  border: 1px solid #5D4891;
  border-radius: var(--border-r-small);
  backdrop-filter: blur(30px)
}