.lessons {
  position: relative;

  &_header {
    & > h3 {
      font-family: Inter, sans-serif;
      font-weight: 600;
      font-size: 24px;
      color: var(--white-color);
    }
  }

  &_back {
    position: absolute;
    left: 0;
    transform: rotate(90deg);
  }

  &_btn {
    margin-top: 43px;

    & > button {
      height: 74px;
    }
  }
}