.ant-collapse .ant-collapse-content, .ant-collapse-header-text {
  color: var(--white-color) !important;
}

.ant-collapse-header-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.ant-collapse-item {
  background: #13131A !important;
  border-radius: var(--border-radius) !important;
  padding: 10px;
}

.ant-collapse-item-active .ant-collapse-expand-icon > svg {
  transform: rotate(180deg);
}

.ant-collapse-content-box {
  background: var(--purple700);
  border-bottom-right-radius: 21px;
  border-bottom-left-radius: 21px;
  padding: 29px 20px !important;
}